body {
  background-color: teal;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container .navLink {
  margin: 20px 40px;
  color: black;
  transition: .3s all;
  text-decoration: none;
}
.nav-container .navLink:hover {
  color: whitesmoke;
  transition: .3s all;
}


/* HOME PAGE */

.homeContainer {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homeContainer .welcomeHeading {
  font-size: 28px;
  border-bottom: 1px solid black;
}

/* loading page */
.loadingContainer {
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingContainer .loading {
  font-size: 62px;
  font-weight: 200;
}
